.loaded {
  .main-wrapper {
    display: none;
  }

  .icon-load {
    display: block;
  }
}

.icon-load {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.main-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  min-width: 320px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.row {
  &:after {
    display: none;
  }

  &.clearfix:after {
    display: block;
  }
}

.section {
  position: relative;
}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;

  &:after {
    content: '';
    @extend .section-bg;
    opacity: .25;
    //background: $main-first-color-custom;
    z-index: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.title {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin: 50px 35%;
  color: $title-color;
  font-size: 2.5rem;
  font-weight: $font-weight-bold;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    top: -50px;
    left: 0;
    display: block;
    width: 178px;
    height: 178px;
    border-radius: 100%;
    background: $main-third-color;
    z-index: -1;
  }
}

.title-head {
  &:before {

  }
}

.title-text {
  position: relative;
  margin: 25px 0 20px;
  color: $title-color;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    top: -26px;
    left: -28px;
    width: 91px;
    height: 91px;
    border-radius: 100%;
    background: #f8eae5;
    z-index: -1;
  }

  & ~ * {
    position: relative;
    z-index: 1;
  }
}

.btn {
  position: relative;
  width: 292px;
  height: 80px;
  border-radius: 100px;
  padding: 0 40px;
  overflow: visible;
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  &:focus, &:active {
    box-shadow: none !important;
  }

  &-primary {
    border: 2px solid transparent !important;
    text-shadow: 0px -1px #000;
    @extend %gradient;
  }
  &-secondary {
    border: 4px solid $main-first-color !important;
    color: $main-first-color;
    text-shadow: 0px -1px #205207;
    background: #faf5f3;

    &:hover, &:focus, &:active {
      color: #faf5f3;
      background: $main-first-color;
    }
  }
  &-light {
    border: 4px solid #ffffff !important;
    color: #ffffff;
    background: transparent;

    &:hover {
      background: #ffffff !important;
      color: $main-first-color;
    }
  }
}

a.btn {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.to-main {
  color: $text-color;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;

  svg {
    width: 20px;
    height: 15px;
    fill: $text-color;
    vertical-align: unset;
    transform: rotate3d(0, 1, 0, 180deg);
    @include transition();
  }

  &:hover {
    color: $main-first-color;
    svg {
      fill: $main-first-color;
    }
  }
}

.form-control {
  height: 80px;
  border: none !important;
  border-radius: 1000px;
  padding-left: 90px;
  outline: none !important;
  background: #faf5f3 !important;
  box-shadow: none !important;
}

.rub {
  display: inline-block;
  color: inherit;
  font-family: $font-family-custom;
  font-size: 20px;
  font-weight: 600;
}

.section-separator {
  position: relative;
  padding: 40px 0;

  svg {
    display: block;
    width: 140px;
    height: 20px;
    margin: 0 auto;
  }
}

%gradient {
  background: #226201;
  background: -moz-linear-gradient(top, #226201 0%, #347e0f 100%);
  background: -webkit-linear-gradient(top, #226201 0%, #347e0f 100%);
  background: linear-gradient(to bottom, #226201 0%, #347e0f 100%);
}

.swiper-container {
  &.main-slider {
    .swiper-pagination {
      counter-reset: slider;

      &-bullet {
        width: 31px;
        height: 31px;
        margin: 0 10px;
        color: #ffffff;
        font-size: 24px;
        background: #317b0c;
        box-shadow: 0px 0px 0px 7px #f8eae5;
        &:before {
          counter-increment: slider;
          content: counter(slider);
        }

        &-active {

        }
      }
    }

    .swiper-button {
      &-prev, &-next {
        transform: translateY(-50%);
      }
    }
  }
}

.rating-container {
  .star {
    width: 17px;
    height: 17px;
  }
}