/*************************************************
****************** MEDIA STYLES ******************
*************************************************/
// min-width
@media screen and (min-width: 320px) {}
@include media-breakpoint-up(sm) {
  .btn {
    padding: 0 40px;
  }

  .swiper-container {
    &.main-slider {
      .swiper-pagination {
        &-bullet {
          margin: 0 10px;
        }
      }
    }
  }

  .section-separator {
    padding: 40px 0;

    svg {
      display: block;
      width: 140px;
      height: 20px;
      margin: 0 auto;
    }
  }

  .head-section {
    padding-top: 140px;
  }

  .title-text {
    margin: 25px 0 20px;
    font-size: 36px;
    line-height: 40px;
  }

  /* ABOUT COMPANY */
  .about-company {
    &__box {
      margin: 0 0 42px;
    }

    &__text {
      font-size: 15px;
      line-height: 26px;
    }
  }

  .about-types {
    &__pic {
      display: block;
      text-align: center;
      img {
        width: 100%;
        max-width: 590px;
        max-height: 590px;
        object-fit: cover;
        object-position: center;
      }
    }

    &__list {
      counter-reset: list;
      padding: 34px 0 0 90px;

      li {
        margin: 0 0 60px;
        padding: 0 0 0 20px;
        font-size: 15px;
        line-height: 26px;

        &:before {
          width: 91px;
          height: 91px;
          border: 12px solid #efdbd5;
          font-size: 24px;
          line-height: 2.8;
        }
      }
    }
  }

  /* REASON */
  .section-reason {
    &__title {
      picture {
        top: 70%;
        img {
          width: auto;
          height: auto;
        }
      }
    }
  }

  .reasons {
    &__box {
      p {
        &:nth-of-type(1) {
          margin: 0 0 14px;
          font-size: 24px;
        }

        font-size: 15px;
        line-height: 26px;
      }
    }
  }

  /* ABOUT LIFTING */
  .section-about-lifting {
    &__title {
      &.title:before {
        top: -60px;
        left: -50px;
        transform: translate(0);
      }

      span {
        &:nth-of-type(1) {
          font-size: 80px;
        }
        &:nth-of-type(2) {
          margin-right: -74px;
          font-size: 36px;
        }
      }
    }
  }

  .about-lifting {
    &__box {
      &-title {
        font-size: 24px;
      }

      &-text {
        font-size: 15px;
        line-height: 24px;
      }
    }
    &__pic {
      img {
        width: auto;
      }
    }
  }

  /* COMPARE */
  .section-compare {
    &__title {
      &:before {
        top: -35px;
        left: -50px;
        transform: translate(0);
      }
    }
  }

  .compare {
    &__slider {
      .swiper-slide {
        picture {
          img {
            max-width: 440px;
            height: 440px;
          }
        }
      }
    }
  }

  /* REVIEWS */
  .reviews {
    &__box {
      &-title {
        &:before {
          margin: 0 0 -15px -33px;
        }
      }
      &-text {
        font-size: 15px;
        line-height: 24px;
      }
    }
  }

  /* FAQ */
  .section-faq {
    &__title {
      &:before {
        top: -50px;
        left: -60px;
        transform: translate(0);
      }

      span {
        &:nth-of-type(1) {
          font-size: 65px;
        }
        &:nth-of-type(2) {
          font-size: 44px;
        }
      }
    }
  }

  /* 404 PAGE */
  .error-container {
    &__error {
      font-size: 260px;
      line-height: 200px;
    }
    &__title {
      span {
        &:nth-of-type(1) {
          font-size: 24px;
        }
        &:nth-of-type(2) {
          font-size: 64px;
        }
      }
    }
  }

  /* BLOG */
  .blog {
    &__content {
      &-text {
        max-height: 130px;
        font-size: 15px;
        line-height: 26px;
      }
    }
  }

  /* ARTICLE */
  .article {
    &__pic {
      display: inline-block;
      width: auto;
      margin: 11px 25px 0 0;
      float: left;
    }

    &__title {
      font-size: 36px;
      line-height: 40px;
      white-space: pre-line;
    }

    &__text {
      font-size: 15px;
      line-height: 26px;
    }
  }

  /* CHECKOUT */

  .checkout {
    &__box {
      &-header {
        font-size: 26px;
      }
    }

    &__order {
      &-box {
        display: block;
        &-value {
          display: inline;
          margin-left: 24px;
        }
      }
    }
  }

  /* PAYMENT METHOD */
  .payment {
    &__name {
      font-size: 15px;
      line-height: 26px;
    }
  }
}
@include media-breakpoint-up(md) {
  .sale-box {
    flex-direction: row;
    max-width: none;

    &__old-price {
      margin: 0 30px 0 0;
    }
    &__button {
      margin-left: 50px;
      &-label {
        top: 50%;
        right: 80%;
        left: auto;
        transform: translate(0, -50%);
      }
      &-itext {
        margin-left: 11px;
        font-size: 16px;
      }

      &.button-inline {
        padding: 0 30px 0 80px;
      }
    }
  }

  .reviews {
    &__box {
      max-width: 330px;
    }
  }

  .error-container {
    &__error {
      margin: 0 auto 45px;
      font-size: 320px;
      line-height: 240px;
    }
  }

  .blog {
    &__box {
      flex-wrap: nowrap;
      picture {
        margin: 20px 24px 0 0;
      }
    }
  }

  .section-payment {
    &__title {
      margin-bottom: 110px;
    }
  }
}
@include media-breakpoint-up(lg) {
  .sale-box {
    &__old-price {
      margin: 0 0 0 -60px;
    }
  }

  .section-banner {
    &__pic {
      display: inline;
      &_mobile {
        display: none;
      }
    }

    &-order {
      .banner-container {
        padding: 150px 0 0;
      }
      .banner-content {
        align-items: flex-end;
        align-content: flex-end;
      }
    }
  }

  .main-banner-container {
    height: 873px;
    padding: 490px 0 160px;
  }

  .banner-content {
    &__text {
      margin: 0 0 25px;
      color: $text-color;

      span {
        margin: 0;
      }
    }
  }

  .video-frame {
    width: 75%;
    height: 450px;
  }

  .about-types {
    &__list {
      padding: 0 0 0 120px;
    }
  }

  .reasons {
    text-align: right;

    &__box {
      padding: 0;

      &:after {
        top: 50%;
        right: -35%;
        width: 91px;
        height: 91px;
        border: 12px solid #efdbd5;
        line-height: 65px;
        transform: translateY(-50%);
      }
    }
    &__pic {
      img {
        width: auto;
      }
    }
  }

  .section-about-lifting {
    &__title {
      margin-bottom: 60px;
    }

    .to-bottom {
      margin-top: 20%;
    }
    .to-center {
      margin-top: -25%;
    }
    .to-top {
      margin-top: -23%;
    }

    .sale-box {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }

  .about-lifting {
    &__box {
      height: 60%;
      margin: 0;

      &-ico {
        position: absolute;
        display: inline-block;
        width: 91px;
        height: 91px;
        margin: 0;
        border: 12px solid #f1dfd9;
        border-radius: 100%;
        background: $main-third-color;
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 33px;
          height: 33px;
          transform: translate(-50%, -50%);
        }

        &.ico-right {
          top: 50%;
          left: 106%;
          transform: translateY(-50%);
        }
        &.ico-bottom {
          top: 106%;
          left: 50%;
          transform: translateX(-50%);
        }
        &.ico-left {
          top: 50%;
          right: 106%;
          transform: translateY(-50%);
        }
        &.ico-top {
          bottom: 106%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  .reviews {
    &__box {
      margin: 0 auto;
      &-profname {
        margin: 0 0 10px;
      }
      &-title {
        line-height: 36px;
      }
    }
  }

  .faq {
    &__special {
      .reviews__box {
        &-head {
          max-width: 320px;
          margin: 0 0 0 auto;
        }
      }
    }

    &__form {
      margin: 0 0 0 auto;

      &-input-ico {
        position: absolute;
        top: 21px;
        left: 30px;

        svg {
          width: 43px;
          height: 37px;
        }
      }
      .form-control {
        height: 80px;
      }
    }
  }

  .blog {
    margin: 70px 0 75px;
  }

  .checkout {
    padding: 0;

    &__delivery {
      justify-content: flex-start;
    }

    &__fields {
      max-width: none;
      &-title {}
      &-input {
        .form-control {
          height: 80px;
        }
      }
    }

    &__order {
      &-delivery {
        margin: 18px 0 0 80px;
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .main-banner-container {
    .sale-box {
      &__old-price {
        margin: 0 0 0 -90px;
      }
    }
  }

  .banner-content {
    &__text {
      padding-left: 52px;
    }
  }

  .sale-box {
    &__old-price {
      margin: 0 0 0 -90px;
    }
  }
}

// max-width
@include media-breakpoint-down(lg) {

}
@include media-breakpoint-down(md) {
  .head-decorator {
    img {
      max-width: 460px;
    }

    &-bg {
      top: -24px;
      img {
        max-width: none;
      }
    }
  }

  .title-logo {
    top: -80px;
    img {
      width: 190px;
    }
  }

  .section-cart {
    padding: 160px 0 0;
  }
}
@include media-breakpoint-down(sm) {
  /* REVIEWS */
  .section-reviews {
    &__title {
      &:before {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .sale-box {
    &__button {
      height: 60px;

      &.button-inline {
        font-size: 22px;
      }
    }
  }
}
@include media-breakpoint-down(xs) {
  .sale-box {
    &__button {
      width: 100%;
      height: 60px;
      font-size: 20px;
      &.btn {
        padding: 0 10px;
      }
    }
  }

  .blog {
    &__box {
      padding: 0;
    }
  }

  .section-blog-article {
    padding-top: 200px;
  }
}
@media screen and (max-width: 320px) {}