<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Главная</title>
</head>
<body class="loaded">
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header position-fixed">
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <a href="index.html" class="logo">
                        <svg>
                            <use xlink:href="img/spritemap.svg#sprite-logo"></use>
                        </svg>
                        <!--<picture>
                            <img src="<%= require('./img/image.jpg') %>" data-src="<%= require('./img/logo.png') %>" alt="">
                        </picture>-->
                    </a>
                </div>

                <div class="col-11 header-content-wrap">
                    <div class="row">
                        <div class="col-9 d-flex flex-wrap flex-column justify-content-around">
                            <div class="contacts justify-content-end">
                                <a href="https://www.instagram.com/" class="contacts__link" target="_blank">
                                <span class="contacts__ico">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-instagram"></use>
                                    </svg>
                                </span>
                                </a>

                                <a href="tel:84957895686" class="contacts__link">
                            <span class="contacts__ico">
                                <svg><use xlink:href="img/spritemap.svg#sprite-phone"></use></svg>
                            </span>
                                    <span>8 (495) 789-56-86</span>
                                </a>
                            </div>

                            <div class="main-menu justify-content-end">
                                <button class="main-menu__switch"></button>
                                <nav class="main-menu__list">
                                    <a href="#about" class="main-menu__link">О продукте</a>
                                    <a href="#types" class="main-menu__link">Что ты получишь</a>
                                    <a href="#benefits" class="main-menu__link">Преимущества</a>
                                    <a href="#result" class="main-menu__link">Результаты</a>
                                </nav>
                            </div>
                        </div>

                        <div class="col-3">
                            <button class="callback btn btn-light">заказать звонок</button>
                        </div>
                    </div>
                </div>

                <div class="col-11 header-form-wrap d-none py-1">
                    <form action="" class="form-inline header-form">
                        <div class="form-group">
                            <svg><use xlink:href="img/spritemap.svg#sprite-phone"></use></svg>
                            <input type="tel" class="header-form__input mask-phone form-control" placeholder="Ваш телефон">
                        </div>

                        <div class="form-group">
                            <svg><use xlink:href="img/spritemap.svg#sprite-user"></use></svg>
                            <input type="text" class="header-form__input form-control" placeholder="Ваше имя">
                        </div>

                        <button type="submit" class="header-form__submit btn btn-light">Заказать <svg><use xlink:href="img/spritemap.svg#sprite-arrow"></use></svg></button>

                        <button class="header-form__close callback-close">закрыть</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <div class="section section-banner">
            <div class="section-bg">
                <picture class="section-banner__pic">
                    <img src="<%= require('./img/banner.jpg') %>" class="section-banner__img" alt="">
                </picture>
            </div>

            <div class="container banner-container">
                <div class="row">
                    <div class="col-md-6 offset-md-6">
                        <div class="banner-content">
                            <div class="sale-box">
                                <span class="sale-box__old-price" data-percent="30">342 <span class="rub">руб.</span></span>
                                <button class="sale-box__button button-inline btn btn-primary">
                                    <span class="sale-box__button-label"><img src="<%= require('./img/button-label-stock.png') %>" alt=""> 239<span class="rub">руб.</span></span>
                                    купить сейчас
                                    <span class="sale-box__button-itext">Цена заказа по акции</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section head-section section-blog-article">
            <picture class="head-decorator">
                <img src="<%= require('./img/section-head.png') %>" alt="">
            </picture>
            <picture class="head-decorator head-decorator-bg">
                <img src="<%= require('./img/section-head-bg.png') %>" alt="">
            </picture>
            <picture class="title-logo">
                <img src="<%= require('./img/blog-logo-title.png') %>" alt="blog-title">
            </picture>

            <div class="container">
                <div class="row">
                    <div class="col-12 article">
                        <div class="article__content clearfix">
                            <picture class="article__pic">
                                <img src="<%= require('./img/blog-01.png') %>" alt="article-photo">
                            </picture>

                            <p class="article__title">Из первых рук:
                                Личные блоги разработчиков косметики.</p>
                            <p class="article__text">
                                <span><b>Блоги производителей косметики и ученых читать вдвойне интересно: во-первых, из-за личного опыта предпринимателей, во-вторых, из-за инсайдов. Мы нашли пять заметных ... проектов: The Beauty Brains, Chemists Corner, Beauty by the Geeks, Susan Chyi Blog и Colin's Beauty Pages, и разобрались, что из них можно узнать.</b></span>
                                <span>Основательница марок декоративной и не только косметики Jelly Pong Pong (упаковка и наполнение под стать названию) и So Susan еще студенткой решила попробовать себя в бизнесе и с тех пор не может остановиться. В блоге Сюзан отвечает на неглупые вопросы читателей вроде «Как протестировать косметику в домашних условиях?», много пишет о работе (рассказ о том, как сложно сделать масло для лица, — тут) и немного — о своей жизни. Делает это, правда, нечасто</span>
                                <span>Основательница марок декоративной и не только косметики Jelly Pong Pong (упаковка и наполнение под стать названию) и So Susan еще студенткой решила попробовать себя в бизнесе и с тех пор не может остановиться. В блоге Сюзан отвечает на неглупые вопросы читателей вроде «Как протестировать косметику в домашних условиях?», много пишет о работе (рассказ о том, как сложно сделать масло для лица, — тут) и немного — о своей жизни. Делает это, правда, нечасто.</span>
                            </p>
                        </div>

                        <div class="article__rating">
                            <p class="article__rating-title">ОЦЕНИТЬ СТАТЬЮ</p>
                            <input type="text" class="article__rating-input rating-input" value="3">
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-separator">
                <svg>
                    <use xlink:href="img/spritemap.svg#sprite-separator"></use>
                </svg>
            </div>
        </div>

        <div class="section section-blog">
            <div class="container">
                <div class="row blog">
                    <div class="blog__box col-6">
                        <picture><img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/blog-01.png') %>" alt="blog-photo"></picture>

                        <div class="blog__content">
                            <p class="blog__content-title">Из первых рук: Личные блоги разработчиков косметики</p>
                            <p class="blog__content-text">Блоги производителей косметики и ученых читать вдвойне интересно: во-первых, из-за личного опыта предпринимателей, во-вторых, из-за инсайдов. Мы нашли пять</p>
                            <a href="article-page.html" class="blog__content-more"><span>подробнее</span> <svg><use xlink:href="img/spritemap.svg#sprite-arrow"></use></svg></a>

                            <div class="blog__content-separator">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-separator"></use>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="blog__box col-6">
                        <picture><img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/blog-02.png') %>" alt="blog-photo"></picture>

                        <div class="blog__content">
                            <p class="blog__content-title">Из первых рук: Личные блоги разработчиков косметики</p>
                            <p class="blog__content-text">Блоги производителей косметики и ученых читать вдвойне интересно: во-первых, из-за личного опыта предпринимателей, во-вторых, из-за инсайдов. Мы нашли пять заметных проектов: The Beauty Brains, Chemists Corner, Beauty by the Geeks, Susan Chyi Blog и Colin's Beauty Pages, и разобрались, что из них можно узнать.</p>
                            <a href="article-page.html" class="blog__content-more"><span>подробнее</span> <svg><use xlink:href="img/spritemap.svg#sprite-arrow"></use></svg></a>

                            <div class="blog__content-separator">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-separator"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <picture class="head-decorator">
            <img src="<%= require('./img/footer-head.png') %>" alt="">
        </picture>
        <picture class="footer-decorator">
            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/leaf-footer.png') %>" alt="">
        </picture>

        <a href="index.html" class="footer__logo">
            <svg>
                <use xlink:href="img/spritemap.svg#sprite-logo"></use>
            </svg>
        </a>

        <div class="container">
            <div class="row">
                <div class="col-11 offset-1 d-flex flex-wrap flex-column justify-content-around">
                    <div class="contacts justify-content-start align-items-end mb-4">
                        <a href="https://www.instagram.com/" class="contacts__link" target="_blank">
                                <span class="contacts__ico">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-instagram"></use>
                                    </svg>
                                </span>
                        </a>

                        <a href="tel:84957895686" class="contacts__link">
                            <span class="contacts__ico">
                                <svg><use xlink:href="img/spritemap.svg#sprite-phone"></use></svg>
                            </span>
                            <span>8 (495) 789-56-86</span>
                        </a>

                        <button class="ml-5 callback btn btn-light">заказать звонок</a>
                    </div>

                    <div class="main-menu justify-content-start">
                        <button class="main-menu__switch"></button>
                        <nav class="main-menu__list">
                            <a href="#about" class="main-menu__link">О продукте</a>
                            <a href="#types" class="main-menu__link">Что ты получишь</a>
                            <a href="#benefits" class="main-menu__link">Преимущества</a>
                            <a href="#result" class="main-menu__link">Результаты</a>
                            <a href="#policy" class="main-menu__link">пользовательское соглашение</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <p class="copyright">все права защищены 2020</p>
    </footer>
    <!-- FOOTER END -->
</div>

<div class="icon-load">
    <picture><img src="<%= require('./img/loader.svg') %>" alt="pre-loader"></picture>
</div>
<!-- BODY END   -->
</body>
</html>
