<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Главная</title>
</head>
<body class="loaded">
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header position-fixed">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-4">
                    <a href="index.html" class="logo">
                        <svg>
                            <use xlink:href="img/spritemap.svg#sprite-logo"></use>
                        </svg>
                        <!--<picture>
                            <img src="<%= require('./img/image.jpg') %>" data-src="<%= require('./img/logo.png') %>" alt="">
                        </picture>-->
                    </a>
                </div>

                <div class="col-lg-11 header-content-wrap">
                    <div class="row">
                        <div class="header-content-wrap__col col-lg-9 d-flex flex-wrap flex-column justify-content-around ">
                            <div class="contacts justify-content-lg-end">
                                <a href="https://www.instagram.com/" class="contacts__link d-none d-sm-inline-block" target="_blank">
                                <span class="contacts__ico">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-instagram"></use>
                                    </svg>
                                </span>
                                </a>

                                <a href="tel:84957895686" class="contacts__link">
                            <span class="contacts__ico d-none d-sm-inline-block">
                                <svg><use xlink:href="img/spritemap.svg#sprite-phone"></use></svg>
                            </span>
                                    <span>8 (495) 789-56-86</span>
                                </a>
                            </div>

                            <div class="main-menu justify-content-end">
                                <button class="main-menu__switch">
                                    <span class="main-menu__switch-line"></span>
                                </button>
                                <nav class="main-menu__list">
                                    <a href="#about" class="main-menu__link">О продукте</a>
                                    <a href="#types" class="main-menu__link">Что ты получишь</a>
                                    <a href="#benefits" class="main-menu__link">Преимущества</a>
                                    <a href="#result" class="main-menu__link">Результаты</a>
                                </nav>
                            </div>
                        </div>

                        <div class="col-lg-3 order-1 order-lg-2">
                            <button class="callback btn btn-light">заказать звонок</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-11 header-form-wrap d-none py-1">
                    <form action="" class="form-inline header-form">
                        <div class="form-group">
                            <svg><use xlink:href="img/spritemap.svg#sprite-phone"></use></svg>
                            <input type="tel" class="header-form__input mask-phone form-control" placeholder="Ваш телефон">
                        </div>

                        <div class="form-group">
                            <svg><use xlink:href="img/spritemap.svg#sprite-user"></use></svg>
                            <input type="text" class="header-form__input form-control" placeholder="Ваше имя">
                        </div>

                        <button type="submit" class="header-form__submit btn btn-light">Заказать <svg><use xlink:href="img/spritemap.svg#sprite-arrow"></use></svg></button>

                        <button type="button" class="header-form__close callback-close">закрыть</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <div class="section section-banner">
            <div class="section-bg">
                <picture class="section-banner__pic">
                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/main-banner.jpg') %>" class="section-banner__img" alt="">
                </picture>
                <picture class="section-banner__pic section-banner__pic_mobile">
                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/main-banner_mob.jpg') %>" class="section-banner__img" alt="">
                </picture>
            </div>

            <div class="container main-banner-container">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 offset-xl-1 pl-lg-0">
                        <div class="banner-content ml-md-5">
                            <p class="banner-content__text order-2 order-lg-1">
                                <span>Косметические тейпы от морщин для домашнего применения.</span>
                                Простой и безопасный способ сохранить молодость лица.
                            </p>
                            <div class="sale-box order-1 order-lg-2">
                                <span class="sale-box__old-price" data-percent="30">342 <span class="rub">руб.</span></span>
                                <button class="sale-box__button btn btn-primary">
                                    <span class="sale-box__button-label"><img src="<%= require('./img/button-label-stock.png') %>" alt=""> 239<span class="rub">руб.</span></span>
                                    купить сейчас
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section head-section section-about-company">
            <picture class="head-decorator">
                <img src="<%= require('./img/section-head.png') %>" alt="">
            </picture>
            <picture class="head-decorator head-decorator-bg">
                <img src="<%= require('./img/section-head-bg.png') %>" alt="">
            </picture>
            <picture class="title-logo">
                <img src="<%= require('./img/main-logo-title.png') %>" alt="">
            </picture>

            <div class="container">
                <div class="row align-items-xl-center">
                    <div class="col-lg-5 offset-xl-1 order-lg-1 order-2">
                        <div class="about-company">
                            <div class="about-company__box">
                                <p class="about-company__title title-text">О компании</p>
                                <p class="about-company__text">это эластичная хлопковая ткань, предназначенная
                                    для эстетического тейпирования лица. Тейпы Risorio используется для безоперационной коррекции возрастных изменений — моделирования овала лица,
                                    улучшения кровоснабжения, восстановления эластичности и упругости кожи, разглаживания возрастных и мимических морщин.</p>
                            </div>

                            <div class="about-company__box">
                                <p class="about-company__title title-text">О сертификате</p>
                                <p class="about-company__text">Тейпы Risorio используется для безоперационной коррекции возрастных изменений — моделирования овала лица, улучшения
                                    кровоснабжения, восстановления эластичности и упругости кожи, разглаживания возрастных и мимических морщин.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 order-lg-2 order-1">
                        <div class="about-company">
                            <picture class="about-company__pic">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/certificate.png') %>" class="about-company__image" alt="">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-separator">
                <svg>
                    <use xlink:href="img/spritemap.svg#sprite-separator"></use>
                </svg>
            </div>
        </div>

        <div class="section section-video">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="section-video__title title">
                            <span>Видео</span>
                            <span>инструкция</span>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <iframe src="https://www.youtube.com/embed/EVbcHQX2CW8" class="video-frame" title="Risorio видео-инструкция" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="section-separator">
                <svg>
                    <use xlink:href="img/spritemap.svg#sprite-separator"></use>
                </svg>
            </div>
        </div>

        <div id="about" class="section section-types">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-types">
                            <picture class="about-types__pic">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/types-structure.png') %>" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-types">
                            <ul class="about-types__list">
                                <li class="about-types__li">Основа тейпов выполнена из ультра-тонкого  органического эко-хлопка, не вызывающего  раздражения и аллергических реакций</li>

                                <li class="about-types__li">Нити эластана позволяют тейпам идеально повторять рельеф лица  растягиваться так же,как кожа</li>

                                <li class="about-types__li">Мягкий, гипоаллергенный клей  обеспечивает оптимальную  фиксацию тейпа</li>

                                <li class="about-types__li">Основа тейпов выполнена из ультра-тонкого органического эко-хлопка, не вызывающего  раздражения и аллергических реакций</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-separator">
                <svg>
                    <use xlink:href="img/spritemap.svg#sprite-separator"></use>
                </svg>
            </div>
        </div>

        <div id="benefits" class="section section-reason">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="section-reason__title title">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/leaf-01.png') %>" alt="">
                            </picture>
                            <span>6</span>
                            <span>причин</span>
                            <span>почему</span>
                        </p>
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-lg-5 order-lg-1 order-2">
                        <div class="reasons">
                            <div class="reasons__box">
                                <p>Гладкий лоб</p>
                                <p>Значительно уменьшает межбровную складку и разглаживает морщины на лбу.</p>
                            </div>
                            <div class="reasons__box">
                                <p>Морщины вокруг глаз</p>
                                <p>Помогают избавиться от «гусиных лапок» вокруг глаз, а также предупредить их появление.</p>
                            </div>
                            <div class="reasons__box">
                                <p>Носогубные морщины</p>
                                <p>Позволяют сгладить носогубные складки и устранить «морщины марионетки»</p>
                            </div>
                            <div class="reasons__box">
                                <p>Подтянутое лицо</p>
                                <p>моделируйте контуры лица чтобы устранить отечность, сделать овал лица более чётким.</p>
                            </div>
                            <div class="reasons__box">
                                <p>Тонус кожи</p>
                                <p>Усиливают микроциркуляцию и устраняют пережимы кровеносных сосудов улучшая цвет кожи.</p>
                            </div>
                            <div class="reasons__box">
                                <p>Естественное омоложение</p>
                                <p>расслабляют лицевую мышцу, улучшают лимфоток, благодаря чему кожа лица выглядит заметно моложе.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1 offset-xl-2 order-lg-2 order-1">
                        <div class="reasons">
                            <picture class="reasons__pic">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/model-img.png') %>" alt="">
                            </picture>

                            <a href="#" class="btn btn-primary">Заказать!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-separator">
                <svg>
                    <use xlink:href="img/spritemap.svg#sprite-separator"></use>
                </svg>
            </div>
        </div>

        <div id="types" class="section section-about-lifting">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="section-about-lifting__title title">
                            <span>Лифтинг</span>
                            <span>без операций</span>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-3 to-bottom text-lg-right">
                                <div class="about-lifting">
                                    <div class="about-lifting__box">
                                        <p class="about-lifting__box-title"><span class="about-lifting__box-ico ico-right"><svg><use xlink:href="img/spritemap.svg#sprite-lifting-1"></use></svg></span>Удобство</p>
                                        <p class="about-lifting__box-text">Тебе не придётся осуществлять сложные процедуры - тейпы Risorio имеют определенную форму для каждого участка лица. Просто достань, наклей и наслаждайся эффектом!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 px-lg-5 text-lg-center">
                                <div class="about-lifting">
                                    <div class="about-lifting__box h-auto">
                                        <p class="about-lifting__box-title"><span class="about-lifting__box-ico ico-bottom"><svg><use xlink:href="img/spritemap.svg#sprite-lifting-2"></use></svg></span>Экономия времени</p>
                                        <p class="about-lifting__box-text">Тейпы не ограничивают твою активность. С ними ты можешь спокойно заниматься любыми повседневными делами. Идеально подходят тем, кому не хватает времени на длительные процедуры по уходу за собой.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 to-bottom">
                                <div class="about-lifting">
                                    <div class="about-lifting__box">
                                        <p class="about-lifting__box-title"><span class="about-lifting__box-ico ico-left"><svg><use xlink:href="img/spritemap.svg#sprite-lifting-3"></use></svg></span>Эффективность</p>
                                        <p class="about-lifting__box-text">Уже после нескольких применений мелкие морщины устраняются, кожа становится более подтянутой, свежей и упругой. Регулярное использование тейпов Risorio позволяет устранить мимические морщины и предотвратить появление новых.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-lg-5 pb-lg-5 text-center to-center">
                            <div class="col-lg-6 offset-lg-3">
                                <div class="about-lifting">
                                    <picture class="about-lifting__pic">
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/product-img01.png') %>" alt="">
                                    </picture>

                                    <div class="sale-box">
                                        <a href="#" class="sale-box__button btn btn-primary">
                                            <span class="sale-box__button-label"><img src="<%= require('./img/button-label.png') %>" alt=""> 239<span class="rub">руб.</span></span>
                                            получить
                                            <span class="sale-box__button-itext">по акционной цене</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 to-top text-lg-right">
                                <div class="about-lifting">
                                    <div class="about-lifting__box">
                                        <p class="about-lifting__box-title"><span class="about-lifting__box-ico ico-right"><svg><use xlink:href="img/spritemap.svg#sprite-lifting-4"></use></svg></span>Безопасность</p>
                                        <p class="about-lifting__box-text">Использование тейпов Risorio может послужить достойной альтернативой омолаживающим инвазивным косметологическим процедурам. Данный метод не имеет побочных эффектов и не создает риска для внешнего вида и мимики.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mt-lg-5 px-lg-5 text-lg-center">
                                <div class="about-lifting">
                                    <div class="about-lifting__box">
                                        <p class="about-lifting__box-title"><span class="about-lifting__box-ico ico-top"><svg><use xlink:href="img/spritemap.svg#sprite-lifting-5"></use></svg></span>Натуральность</p>
                                        <p class="about-lifting__box-text">Оригинальные эластичные ленты созданы из натурального хлопка высшего качества и не содержат вредных химических веществ, поэтому их можно использовать в любом возрасте и даже для самой чувствительной кожи.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 to-top">
                                <div class="about-lifting">
                                    <div class="about-lifting__box">
                                        <p class="about-lifting__box-title"><span class="about-lifting__box-ico ico-left"><svg><use xlink:href="img/spritemap.svg#sprite-lifting-6"></use></svg></span>Доступная стоимость</p>
                                        <p class="about-lifting__box-text">Risorio beauty tape - это простой способ выглядеть молодо и красиво за небольшие деньги.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-separator">
                <svg>
                    <use xlink:href="img/spritemap.svg#sprite-separator"></use>
                </svg>
            </div>
        </div>

        <div id="result" class="section section-compare">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="section-compare__title title">
                            <span>Видимый</span>
                            <span>результат</span>
                            <span>уже с первого применения!</span>
                        </p>
                    </div>
                </div>
                <div class="compare row align-items-center">
                    <div class="col-lg-3 d-none d-lg-block">
                        <p class="compare__text text-right">Тейпы Risorio подходят для «экстренного» омоложения и восстановления перед важным событием.</p>
                    </div>

                    <div class="col-lg-6">
                        <div class="main-slider swiper-container compare__slider">
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/compare01.png') %>" alt="example" title="example">
                                    </picture>
                                </div>

                                <div class="swiper-slide">
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/compare02.png') %>" alt="example" title="example">
                                    </picture>
                                </div>

                                <div class="swiper-slide">
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/compare01.png') %>" alt="example" title="example">
                                    </picture>
                                </div>

                                <div class="swiper-slide">
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/compare02.png') %>" alt="example" title="example">
                                    </picture>
                                </div>

                                <div class="swiper-slide">
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/compare01.png') %>" alt="example" title="example">
                                    </picture>
                                </div>
                            </div>

                            <div class="swiper-pagination"></div>

                            <!--<div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>-->

                            <!--<div class="swiper-scrollbar"></div>-->
                        </div>
                    </div>

                    <div class="col-lg-3 d-none d-lg-block">
                        <p class="compare__text">Ты можешь увидеть результат уже через 40 минут применения, а использование курсами от 9 дней оказывает долгосрочный эффект.</p>
                    </div>
                </div>
            </div>
            <div class="section-separator">
                <svg>
                    <use xlink:href="img/spritemap.svg#sprite-separator"></use>
                </svg>
            </div>
        </div>

        <div class="section section-reviews">
            <div class="container">
                <div class="row">
                    <p class="section-reviews__title title">
                        <span>Что</span>
                        <span>говорят</span>
                        <span>наши покупатели</span>
                    </p>
                </div>

                <div class="row review">
                    <div class="col-lg-4 reviews__box">
                        <picture class="reviews__box-pic">
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/review-photo01.png') %>" alt="">
                        </picture>

                        <p class="reviews__box-profname">имиджмейкер</p>
                        <p class="reviews__box-title">Елена Киреева</p>
                        <p class="reviews__box-text">В виду специфики моей профессии модели часто просят меня проконсультировать их по поводу косметических средств. Я привык советовать девушкам только то, что испробовал на себе и увидел результат. Risorio beauty tape занимает в моём списке почётное место как необременительное, и в то же время эффективное средство ухода за собой.</p>
                        <div class="reviews__box-rating">
                            <input type="text" class="rating-input rating-read" value="2">
                        </div>
                    </div>

                    <div class="col-lg-4 reviews__box">
                        <picture class="reviews__box-pic">
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/review-photo01.png') %>" alt="">
                        </picture>

                        <p class="reviews__box-profname">имиджмейкер</p>
                        <p class="reviews__box-title">Елена Киреева</p>
                        <p class="reviews__box-text">В виду специфики моей профессии модели часто просят меня проконсультировать их по поводу косметических средств. Я привык советовать девушкам только то, что испробовал на себе и увидел результат. Risorio beauty tape занимает в моём списке почётное место как необременительное, и в то же время эффективное средство ухода за собой.</p>
                        <div class="reviews__box-rating">
                            <input type="text" class="rating-input rating-read" value="5">
                        </div>
                    </div>

                    <div class="col-lg-4 reviews__box">
                        <picture class="reviews__box-pic">
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/review-photo01.png') %>" alt="">
                        </picture>

                        <p class="reviews__box-profname">имиджмейкер</p>
                        <p class="reviews__box-title">Елена Киреева</p>
                        <p class="reviews__box-text">В виду специфики моей профессии модели часто просят меня проконсультировать их по поводу косметических средств. Я привык советовать девушкам только то, что испробовал на себе и увидел результат. Risorio beauty tape занимает в моём списке почётное место как необременительное, и в то же время эффективное средство ухода за собой.</p>
                        <div class="reviews__box-rating">
                            <input type="text" class="rating-input rating-read" value="3">
                        </div>
                    </div>
                </div>

                <div class="row review">
                    <div class="col-12 d-flex flex-row flex-wrap justify-content-center mt-4 pt-2">
                        <a href="#" class="reviews__button btn btn-secondary">Написать отзыв <svg><use xlink:href="img/spritemap.svg#sprite-arrow"></use></svg></a>
                    </div>
                </div>
            </div>
            <div class="section-separator">
                <svg>
                    <use xlink:href="img/spritemap.svg#sprite-separator"></use>
                </svg>
            </div>
        </div>

        <div class="section section-faq">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="section-faq__title title">
                            <span>Комментарий</span>
                            <span>специалиста</span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 faq">
                        <div class="faq__special">
                            <div class="reviews__box">
                                <div class="reviews__box-head">
                                    <picture class="reviews__box-pic">
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/review-photo01.png') %>" alt="">
                                    </picture>

                                    <p class="reviews__box-profname">Провизор-технолог</p>
                                    <p class="reviews__box-title">Татьяна Кичайкина</p>
                                </div>
                                <p class="reviews__box-text">Принцип действия Risorio beauty tape основан на моделировании мышечно-фасциального сегмента. Согласно последним исследованиям, основной причиной появления мимических морщин является гипертонус лицевых мышц.   Тейпы Risorio эффективно решают эту проблему, а также способствуют улучшению кровоснабжения, благодаря чему ткани получают больше кислорода и питательных веществ. Улучшается и лимфодренажный процесс, способствуя уменьшению отёчности.   В результате комплексного воздействия происходит эстетическое моделирование и омоложение лица: разглаживание морщин, выраженный лифтинг-эффект, повышение упругости и эластичности кожи, а также общее улучшение её состояния.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 faq">
                        <form action="mailto:test29031993@gmail.com" method="post" class="faq__form">
                            <p class="faq__form-title title">
                                <span>Задать</span>
                                <span>вопрос</span>
                            </p>

                            <label class="form-group">
                                <span class="faq__form-input-ico">
                                        <svg><use xlink:href="img/spritemap.svg#sprite-user"></use></svg>
                                </span>
                                <input type="text" class="form-control" placeholder="Ф.И.О">
                            </label>

                            <label class="form-group">
                                <span class="faq__form-input-ico">
                                        <svg><use xlink:href="img/spritemap.svg#sprite-phone"></use></svg>
                                </span>
                                <input type="tel" class="form-control mask-phone" placeholder="Телефон">
                            </label>

                            <label class="form-group">
                                <span class="faq__form-input-ico">
                                        <svg><use xlink:href="img/spritemap.svg#sprite-mail"></use></svg>
                                </span>
                                <input type="email" class="form-control" placeholder="Email">
                            </label>

                            <label class="form-group">
                                <span class="faq__form-input-ico">
                                        <svg><use xlink:href="img/spritemap.svg#sprite-comment"></use></svg>
                                </span>
                                <textarea name="faq-comment" id="faq_comment" class="form-control" placeholder="Ваш вопрос"></textarea>
                            </label>

                            <!--<input type="submit" class="faq__form-submit btn btn-secondary" value="Отправить">-->
                            <button type="submit" class="faq__form-submit btn btn-secondary">Отправить <svg><use xlink:href="img/spritemap.svg#sprite-arrow"></use></svg></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="section-separator">
                <svg>
                    <use xlink:href="img/spritemap.svg#sprite-separator"></use>
                </svg>
            </div>
        </div>
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <picture class="head-decorator">
            <img src="<%= require('./img/footer-head.png') %>" alt="">
        </picture>
        <picture class="footer-decorator">
            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/leaf-footer.png') %>" alt="">
        </picture>

        <a href="index.html" class="footer__logo">
            <svg>
                <use xlink:href="img/spritemap.svg#sprite-logo"></use>
            </svg>
        </a>

        <div class="container">
            <div class="row">
                <div class="col-lg-11 offset-lg-1 d-flex flex-wrap flex-column justify-content-around">
                    <div class="contacts justify-content-center justify-content-lg-start align-items-end order-2 order-lg-1 mb-lg-4">
                        <a href="https://www.instagram.com/" class="contacts__link" target="_blank">
                                <span class="contacts__ico">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-instagram"></use>
                                    </svg>
                                </span>
                        </a>

                        <a href="tel:84957895686" class="contacts__link">
                            <span class="contacts__ico">
                                <svg><use xlink:href="img/spritemap.svg#sprite-phone"></use></svg>
                            </span>
                            <span>8 (495) 789-56-86</span>
                        </a>

                        <button class="mt-4 mt-lg-0 ml-lg-5 callback btn btn-light">заказать звонок</button>
                    </div>

                    <div class="main-menu order-1 order-lg-2">
                        <nav class="main-menu__list">
                            <a href="#about" class="main-menu__link">О продукте</a>
                            <a href="#types" class="main-menu__link">Что ты получишь</a>
                            <a href="#benefits" class="main-menu__link">Преимущества</a>
                            <a href="#result" class="main-menu__link">Результаты</a>
                            <a href="#policy" class="main-menu__link">пользовательское соглашение</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <p class="copyright">все права защищены 2020</p>
    </footer>
    <!-- FOOTER END -->
</div>

<div class="icon-load">
    <picture><img src="<%= require('./img/loader.svg') %>" alt="pre-loader"></picture>
</div>
<!-- BODY END   -->
</body>
</html>
